{% extends "base.html" %}
{% load static %}
{% block content %}
<button type="button" class="material-icons floating-btn bg-dark  btn" data-toggle="modal" data-target="#mailModel">
add

</button>

<!-- Modal -->
<div class="modal fade" id="mailModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_mail' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">To:</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="Title" placeholder="Title" required name="Title">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            
            {{form.chat}}
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">File:</label>
            {{form.file}}
          </div>
          

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark">Send <i class="fa fa-send-o"></i></button>
      </div>
    </form>
    </div>
  </div>
</div>


<br>
<br>
<div class="text-center">
  {% if indox %}
    <span class="border m-2 p-3 pl-5 pr-4 text-center border-dark bg-secondary text-white" style="font-size: 40px; width: 200px; height: 100px; border-radius: 50px;">
      <a href="{% url 'home' %}" class="text-white" style="text-decoration: none;">Inbox</a>
    </span>
    <span class="border m-2 p-3 pl-5 pr-5 text-center border-dark " style="font-size: 40px; width: 200px; height: 100px; border-radius: 50px;">
      <a href="{% url 'send' %}" class="text-dark" style="text-decoration: none;">Sent</a>
    </span>
    <br>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-3  " >
            <div class=" text-center border border-secondary m-5 mb-3 p-4 bg-danger text-white" style="width: 150px; height: 80px; border-radius: 40px;">
            <h4 class="">MAILS</h4>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    
    <div class="container-fluid mt-2 " style="font-size: 25px; ">
      {% for mail in mails %}
        <a href="{% url 'mail_info' mail.id %}"  style="text-decoration: none; color:black;">
          {% if mail.seenby_recv %}
            <div class="row  pt-4 pb-4 border border-grey font-italic" >
                <div class="col-3">
                  from | {{mail.sender}}
                </div>
                <div class="col-7">
                  {{mail.title}} 
                </div>
                <div class="col-2">
                  {{mail.time}}
                </div>
            </div>
          {% else %}
            <div class="row  pt-4 pb-4 border border-dark font-weight-bold" >
              <div class="col-3">
                from | {{mail.sender}}
              </div>
              <div class="col-7">
                {{mail.title}} 
              </div>
              <div class="col-2">
                {{mail.time}}
              </div>
            </div>
          {% endif %}
        </a>
      {% endfor %}      
    </div>
  {% else %}
  <span class="border m-2 p-3 pl-5 pr-4 text-center border-dark " style="font-size: 40px; width: 200px; height: 100px; border-radius: 50px;">
    <a href="{% url 'home' %}" class="text-dark" style="text-decoration: none;">Indox</a>
  </span>
  <span class="border m-2 p-3 pl-5 pr-5 text-center border-dark bg-secondary text-white" style="font-size: 40px; width: 200px; height: 100px; border-radius: 50px;">
    <a href="{% url 'send' %}" class="text-white" style="text-decoration: none;">Sent</a>
  </span>
  <br>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-3  " >
            <div class=" text-center border border-secondary m-5 mb-3 p-4 bg-danger text-white" style="width: 150px; height: 80px; border-radius: 40px;">
            <h4 class="">MAILS</h4>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    
    <div class="container-fluid mt-2 " style="font-size: 25px; ">
      {% for mail in mails %}
        <a href="{% url 'mail_info' mail.id %}"  style="text-decoration: none; color:black;">
          {% if mail.seenby_sender %}
            <div class="row  pt-4 pb-4 border border-grey font-italic " >
                <div class="col-3">
                  to | 
                  {% if mail.reciver is not None %}
                    {{mail.reciver}}
                  {% else %}
                    
                  {% endif %}
                </div>
                <div class="col-7">
                  {{mail.title}} 
                  {% if mail.reciver is not None %}
                  
                  {% else %}
                  - error while sending mail
                  {% endif %}
                </div>
                <div class="col-2">
                  {{mail.time}}
                </div>
            </div>
          {% else %}
            <div class="row  pt-4 pb-4 border border-dark font-weight-bold" >
              <div class="col-3">
                to | {{mail.reciver}}
              </div>
              <div class="col-7">
                {{mail.title}} 
              </div>
              <div class="col-2">
                {{mail.time}}
              </div>
            </div>
          {% endif %}
        </a>
      {% endfor %}  
        
        
    </div>
  {% endif %}
</div>

<script>
  var chatBox = document.getElementById('id_chat')
  chatBox.placeholder="Message";
  chatBox.className="form-control";
  chatBox.id="message";
  chatBox.style="height:100px;";
  chatBox.req

</script>
{% endblock %}