{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="text-center">EMAIL APP</h1>
<br>

<div class="container-fluid ">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3 "><a href="#" class="btn btn-info m-2"> <h4>+ Create user</h4></a></div>
    </div>
<div class="row ">
    <div class="col-3 pt-2 pb-2 text-center border border-dark">
        <h3>Pic</h3>
    </div>
    <div class="col-3 pt-2 pb-2 text-center border border-dark">
       <h3>Username</h3> 
    </div>
    <div class="col-3 pt-2 pb-2 text-center border border-dark">
        <h3>Email</h3>
    </div>
    <div class="col-3 pt-2 pb-2 text-center border border-dark">
        <h3>Action</h3>
    </div>
</div>
{% for user in users %}
<div class="row">
    <div class="col-3 pt-3 pb-3 text-center border border-dark">
        <img src="{{user.imageURL}}" width="70"  height="70">
    </div>
    <div class="col-3 pt-3 pb-3 text-center border border-dark">
        {{user.user}}
    </div>
    <div class="col-3 pt-3 pb-3 text-center border border-dark">
        {{user.user.email}}
    </div>
    <div class="col-3 pt-3 pb-3 text-center border border-dark">
        <div class="row">
            <div class="col-3  m-1">
               <a class="btn btn-primary" href="{% url 'profile_info' user.user.id %}">view</a>
            </div>
            <div class="col-3  m-1 ">
               <a class="text-white btn btn-warning ml-1" href="#" >Edit</a>
            </div>
            <div class="col-4  m-1 ">
              <a class="btn btn-danger" href="{% url 'delete_User' user.user.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}